.Episodes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 92vw;
}
.Wrapper{
    display: flex;
    justify-content: center;
}
.PaginationContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.Liked {
    display: flex;
    justify-content: center;
}
.deleteWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.delete {
    display: flex;
    justify-content: center;
    color: snow;
    background-color: #3d2cd1;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
}

.delete:hover{
    cursor: pointer;
    filter: brightness(60%);
}